* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}

body {
    background: lightgray;
    height: 100vh;
    background: url("./img/bg.jpg") center/cover fixed;
    header {
        img {
            height: 115px;
            @media screen and(min-width:765px) {
                height: 150px;
            }
        }
    }
}

h1 {
    color: rgba(245, 245, 245, 0.904) !important;
}

