#homePage{
    color: $font-home;
    height: 50%;
    #api-results {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
    align-items: center;
    

    .refresh-data {
        font-size: 1.5rem;
        color: $font-home;

    }
}

}