{% extends 'base.html.twig' %}

{% block title %}Hello WorldsController!
{% endblock %}

{% block body %}
	<header class="d-flex justify-content-center mb-2">
		<img src="{{asset('/images/resize.png')}}" alt="banner" class="col-12 col-sm-8 col-md-6 col-xl-4"/>
	</header>
	<div id="homePage">
		<h1 class="text-center">Charadra :
		</h1>
		<turbo-frame id="api-results" src={{ path('app_worlds') }}>
<div class="spinner-border text-warning mt-5" role="status">

				<span class="sr-only">Loading...</span>
			</div>
		</turbo-frame>
	</div>
{% endblock %}
